<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>ANGEL</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" rev="stylesheet" href="/css/layout.css" type="text/css">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="description" content="女神的晚餐">
	    <meta name="keywords" content="女神">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="applicable-device" content="mobile">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta name="x5-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true">
	    <meta name="x5-page-mode" content="app">
    </head>
<body>
	<header class="amf-header">
		<a href="javascript:history.go(-1);" class="back">返回</a>
		<span>对话</span>
	</header>
	<div class="amf-content pd-55">
		<div id="chat-messages" class="chart-list animate" data-activity="${activityId}">
		</div>
		<div id="sendmessage">
        	<input id="msgcontent" type="text" placeholder="请输入对话内容">
            <button id="send">发送</button>
        </div>
	</div>
	<footer class="amf-footer">
	</footer>
	<div class="bg-wrap"></div>
	<script src="/js/jquery2.0.3.js"></script>
	<script src="/js/base.js"></script>
		<script>
		$(function(){
		    new angel.Chart({
		    	
		    })
		})
	</script>
</body>
</html>
