<!DOCTYPE html>
<html lang="en">
	<head>
	    <title>女神的晚餐</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheet" rev="stylesheet" href="/css/layout.css" type="text/css">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="description" content="女神的晚餐">
	    <meta name="keywords" content="女神">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <meta name="applicable-device" content="mobile">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta name="x5-orientation" content="portrait">
	    <meta name="x5-fullscreen" content="true">
	    <meta name="x5-page-mode" content="app">
    </head>
<body>
	<p class="outside">这里是异次元空间...</p><br />
	<p class="out-reason">${reason}</p>
	<a class="orange-btn" href="/mp/login">点击进入</a>
</body>
</html>
