<!DOCTYPE html>
<html lang="en">
<head>
    <title>ANGEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" rev="stylesheet" href="/css/layout.css" type="text/css">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="女神的晚餐">
    <meta name="keywords" content="女神">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="applicable-device" content="mobile">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
</head>
<body>
<div class="amf-content"  style="background:transparent">
    <div class="pay">
        <h2><i class="success-pay result-icon"></i> 恭喜您！</h2>
        <p class="prise">您的申请已成功，快来与女神一起互动吧~！</p>
    </div>
    <div class="pay-clause">
        <p>请仔细阅读以下条款：</p>
        <p>1. 本次支付，交易双方为公众号用户与上海环旗网络科技有限公司（后简述为环旗），资金将汇入环旗在微信平台的企业资金账户中。</p>
        <p>2. 用户支付的资金将会由环旗监管，而环旗在微信平台的企业资金账户受微信平台监管。</p>
        <p>3. 在已支付的竞拍者与活动主见面扫对方二维码确认之前，用户可在活动详情页申请全额退款，退款过程环旗与腾讯不收取任何手续费用。</p>
        <p>4. 活动主与已支付的竞拍者均有权利取消活动，活动取消后系统会自动执行全额退款操作。本平台会扣取消者的信誉值，但支付资金不会收到影响。</p>
        <p>5. 线下活动开始时，即双方见面时请确认身份后第一时间扫一扫活动主的活动二维码完成活动流程。</p>
        <p>6. 本系统为线下活动的组织，参与和信息发布平台，不参与线下活动的具体事宜。如果活动中有政治，色情，迷信等情节，请第一时间联系公安机关，平台有权利提供双方资料配合调查。</p>
    </div>
    
</div>
<div class="pay-info">
        <p>您将支付 总价<span>${amount}</span>元</p>
        <div class="btn-wrap pay-btn-wrap">
            <button id="cancel-pay" class="cancel-pay btn">取消支付</button>
            <button id="chooseWXPay" class="confirm-pay btn">确认支付</button>
        </div>
        <span>请您确认支付金额并及时支付，如放弃本次支付，将被扣取一定的信誉积分，请您知悉，谢谢。</span>
    </div>
<script src="/js/jquery2.0.3.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="/js/base.js"></script>
<script>
    $(function(){
        new angel.Index({
        });
        new angel.WXconfig({
            "bid_id":'${bidId}',
            "activity_id":'${activityId}'
        });
    })
</script>
</body>
</html>
